.container {
  color: #2d4059;
  font-family: "Josefin Sans", sans-serif;
  line-height: 2;
  margin: 50px;
  padding: 10px;
}

h1 {
  text-align: center;
}

img {
  margin: 20px;
}

input {
  background-color: #decdc3;
  border: 2px solid #2d4059;
  border-radius: 5px;
  color: #2d4059;
  min-width: 300px;
  margin-bottom: 25px;
}

input.action {
  box-shadow: 0px 4px 5px 4px rgba(45, 64, 89, 0.2);
  min-width: 150px;
  padding: 10px;
  transition: all 200ms ease-in-out;
}

input.action:hover {
  background-color: #799351;
}

input.reset:hover {
  background-color: #ea5455;
}

button {
  background-color: #e5e5e5;
  border: 8px double #2d4059;
  border-radius: 15px;
  box-shadow: 0px 4px 5px 4px rgba(45, 64, 89, 0.2);
  color: #2d4059;
  padding: 0px 200px;
  transition: all 200ms ease-in-out;
}

button:hover {
  background-color: #decdc3;
  color: #ea5455;
  border: 8px double #ea5455;
}
